<link rel='stylesheet' href='../stylesheets/navbar.css'>
<header>
  <nav>
    <ul>
      <% if (user) { %>
        <li> <a href="/users/<%= user._id %>/workouts">Your Workouts</a></li>
        <li><a href="/auth/sign-out">Sign Out</a></li>
  
      <% } else { %>
        <div class='navbar'>
          <div class='navlinks'>
            <li class='authlink' id='sign-in'><a href="/auth/sign-in">Sign In</a></li>
            <li class='authlink' id='sign-up'><a href="/auth/sign-up">Sign Up</a></li>
          </div>
        </div>
      <% } %>
    </ul>
  </nav>
</header>