<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Date</title>
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/edit-date.css">
  <link rel="stylesheet" href="/stylesheets/media-queries.css">
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit the Workout Date</h1>
  <form action='/users/<%= user._id %>/workouts/<%= workout._id %>/date?_method=put' method='post'>
    <label for='date'>Date:</label>
    <input type='date' name='date' id='date' required value="<%= workout.date.toISOString().split('T')[0] %>" />
    
    <button type='submit'>Update Workout Date</button>
  </form>

</body>
</html>
