<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Workout</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/new.css" />
    <link rel="stylesheet" href="/stylesheets/media-queries.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/users/<%= user._id %>/workouts" method="post">
      <h2>To create a workout, please enter a date first.</h2>
      <label for="date">Date:</label>
      <input type="date" name="date" id="date" required />
      <button type="submit">Create Workout</button>
    </form>
  </body>
</html>
