<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Workout</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Add a New Workout</h1>
  <form action='/users/<%= user._id %>/workouts' method='post'>
    <label for='date'>Date:</label>
    <input type='date' name='date' id='date'/>

    <label for='muscleGroup'>Muscle Group:</label>
    <input type='text' name='muscleGroup' id='muscleGroup'/>
    <!-- TODO: Have to create options and ENUMs for muscle group -->

    <label for='exercise'>Exercise:</label>
    <input type='text' name='exercise' id='exercise'/>

    <label for='weight'>Weight:</label>
    <input type='text' name='weight' id='weight'/>

    <label for='sets'>Sets:</label>
    <input type='text' name='sets' id='sets'/>

    <label for='repGoal'>Rep Goal:</label>
    <input type='text' name='repGoal' id='repGoal'/>

    <label for='actualReps'>Actual Reps Performed:</label>
    <input type='text' name='actualReps' id='actualReps'/>

    <label for='intensity'>Intensity:</label>
    <input type='text' name='intensity' id='intensity'/>
    <!-- TODO: have to create options/dropdown and Enum for intensity, 1 - 10 -->

    <button type='submit'>Add Workout</button>

  </form>
</body>

</html>