* {
  box-sizing: border-box
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100dvh;
  margin: 0;
}

.index-body {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
} 

.index-body::before {
  content: '';
  background-image: url('../resources/landing-page-img.jpg');
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.80;
}

.main-header {
  position: relative;
  left: 150px;
  font-size: 5rem;
  color: #000000;
  line-height: 0.9;
  text-align: center;
  margin: -250px 20px 20px 20px;
}

.sub-header {
  position: relative;
  left: 155px;
  font-size: 2.8em;
  margin: 0 30px 0 30px;
}

.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.signin-form-container,
.signup-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: yellow;
  border-radius: 25px;

}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 120px;
  align-items: center;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 10em;
  text-align: center;
}

.signup-link {
  background-color: #000000;
  color: white;
  margin: 20px 0 0 0;
}

.signup-link:hover {
  background-color: #ffffff;
  color: black;
}

.signin-link {
  background-color: #000000;
  color: #ffffff;
  margin: 20px 0 0 0;
}

.signin-link:hover {
  background-color: #ffffff;
  color: black;
}

label {
  padding: 2px;
  margin: 10px 0 10px 0;
}

input{
  padding: 4px;
  width: 100%;
}

button {
  margin: 1rem
}